@import "../../../styles/variables.module";

.TableRowProgressiveCell {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  &__progress {
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    width: 80px;
    height: 6px;
    overflow: hidden;
    border-radius: 10px;

    &Line {
      background-color: $accent;
      top: 0;
      left: 0;
      bottom: 0;
      position: absolute;
    }
  }

  &__value {
    font-weight: 600;
    color: $accent;
  }
}